In [4]:
import pandas as pd

def read_stock_tweets_labled():
    df = pd.read_csv('tweets_labelled.csv', sep=';')
    df.dropna(inplace=True)
    df['sentiment'] = df['sentiment'].apply(lambda x:1 if x == 'positive' else 0)
    df = df.rename(columns={"sentiment": "Score"})
    return df

df = read_stock_tweets_labled()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1300 entries, 0 to 1299
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1300 non-null   int64
 1   created_at  1300 non-null   object
 2   text        1300 non-null   object
 3   Score       1300 non-null   int64
dtypes: int64(2), object(2)
memory usage: 50.8+ KB

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize, sent_tokenize
import numpy as np

def process(df):
    #trying tfidf 
    stemmed_data = [" ".join(SnowballStemmer("english", ignore_stopwords=True).stem(word)  
         for sent in sent_tokenize(message)
        for word in word_tokenize(sent))
        for message in  df['text']]
    print('stemmed')
    vectorizer = TfidfVectorizer(stop_words = 'english', min_df = 4, max_df = 0.8)
    dtm = vectorizer.fit_transform(stemmed_data)
    num_features = 60
    svd = TruncatedSVD(num_features)
    print('here')
    normalizer = Normalizer(copy=False)
    print('this done')
    lsa = make_pipeline(svd, normalizer)
    dtm = lsa.fit_transform(dtm)
    print('shape')
    print(np.shape(dtm))
    dtm = np.transpose(dtm)
    columns = ['svd' + str(i) for i in range(num_features)]
    # svd = pd.DataFrame(dtm, columns=columns)
    # svd.fillna(0)
    # labels= ['SV'+str(i) for i num_features]
    for i in range(num_features):
        name = 'svd' + str(i)
        # print(np.shape(dtm[:][i]))
        df[name] = dtm[i]
        df[name] = df[name].fillna('')

    return df

process(df)
df.info()

stemmed
here
this done
shape
(1300, 60)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1300 entries, 0 to 1299
Data columns (total 64 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1300 non-null   int64
 1   created_at  1300 non-null   object
 2   text        1300 non-null   object
 3   Score       1300 non-null   int64
 4   svd0        1300 non-null   float64
 5   svd1        1300 non-null   float64
 6   svd2        1300 non-null   float64
 7   svd3        1300 non-null   float64
 8   svd4        1300 non-null   float64
 9   svd5        1300 non-null   float64
 10  svd6        1300 non-null   float64
 11  svd7        1300 non-null   float64
 12  svd8        1300 non-null   float64
 13  svd9        1300 non-null   float64
 14  svd10       1300 non-null   float64
 15  svd11       1300 non-null   float64
 16  svd12       1300 non-null   float64
 17  svd13       1300 non-null   float64
 18  svd14       1300 non-null   float64
 19  svd15       1300 non-null   float64
 20  svd16       1300 non-null   float64
 21  svd17       1300 non-null   float64
 22  svd18       1300 non-null   float64
 23  svd19       1300 non-null   float64
 24  svd20       1300 non-null   float64
 25  svd21       1300 non-null   float64
 26  svd22       1300 non-null   float64
 27  svd23       1300 non-null   float64
 28  svd24       1300 non-null   float64
 29  svd25       1300 non-null   float64
 30  svd26       1300 non-null   float64
 31  svd27       1300 non-null   float64
 32  svd28       1300 non-null   float64
 33  svd29       1300 non-null   float64
 34  svd30       1300 non-null   float64
 35  svd31       1300 non-null   float64
 36  svd32       1300 non-null   float64
 37  svd33       1300 non-null   float64
 38  svd34       1300 non-null   float64
 39  svd35       1300 non-null   float64
 40  svd36       1300 non-null   float64
 41  svd37       1300 non-null   float64
 42  svd38       1300 non-null   float64
 43  svd39       1300 non-null   float64
 44  svd40       1300 non-null   float64
 45  svd41       1300 non-null   float64
 46  svd42       1300 non-null   float64
 47  svd43       1300 non-null   float64
 48  svd44       1300 non-null   float64
 49  svd45       1300 non-null   float64
 50  svd46       1300 non-null   float64
 51  svd47       1300 non-null   float64
 52  svd48       1300 non-null   float64
 53  svd49       1300 non-null   float64
 54  svd50       1300 non-null   float64
 55  svd51       1300 non-null   float64
 56  svd52       1300 non-null   float64
 57  svd53       1300 non-null   float64
 58  svd54       1300 non-null   float64
 59  svd55       1300 non-null   float64
 60  svd56       1300 non-null   float64
 61  svd57       1300 non-null   float64
 62  svd58       1300 non-null   float64
 63  svd59       1300 non-null   float64
dtypes: float64(60), int64(2), object(2)
memory usage: 660.2+ KB

In [6]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, confusion_matrix
from sklearn import utils
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

from xgboost import XGBRegressor

# Load files into DataFrames


def get_model(df):

    X_train = df

    # X_train = utils.shuffle(X_train, random_state=1)

    # Split training set into training and testing set
    X_train, X_test, Y_train, Y_test = train_test_split(
            X_train.drop(['Score'], axis=1),
            X_train['Score'],
            test_size=1/4.0,
            random_state=0
        )

    X_train_processed = X_train.drop(columns=['id', 'created_at', 'text'])
    X_test_processed = X_test.drop(columns=['id', 'created_at', 'text'])
    # X_submission_processed = X_submission.drop(columns=['Id', 'Time', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'ProductId', 'UserId', 'Text', 'Summary', 'Score'])

    # print(Y_train.head)
    # Y_train = Y_train.fillna(4) #shouldn't need to do this
    # print(Y_train.isnull().values.any())

    # print(Y_test.head)
    # print(Y_test.isnull().values.any())
    # Y_test = Y_test.fillna(4) #shouldn't need to do this

    print('printing the infos')
    print(X_train_processed.info())
    print(X_test_processed.info())
    # print(X_train_processed.isnull().values.any())


    print((X_train_processed.shape), Y_train.shape)
    print((X_test_processed.shape), Y_test.shape)


    # print(X_train[X_train.columns[0]].head(10))
    # subX_train = (X_train['good_cnt']) / (X_train['good_cnt'] + X_train['bad_cnt'] + X_train['okay_cnt'])
    # # subX_test = X_test[X_test['Score']]
    # plt.scatter(subX_train, Y_train, c="slategray", alpha=0.4, linewidths=0.1)
    # # plt.scatter(subX_test, y_CA_H_test, c="seagreen", alpha=0.2, linewidths=0.3)
    # plt.xlabel('ProductScore')
    # plt.ylabel('Actual Score')

    # plt.show()

    # Predict the score using the model

    # print(X_train['good_cntSummary'])




    # model = sm.OLS(Y_train, X_train_processed)
    # results = model.fit()
    # print(results.summary())
    # Y_test_predictions = model.predict(np.transpose(X_test_processed))

    model = XGBRegressor()
    model.fit(X_train_processed, Y_train)
    Y_test_predictions = model.predict(X_test_processed)


    # print(Y_test_predictions.isnull().values.any())
    # print(Y_test.isnull().values.any())
    print('got the predictions')
    print(len(Y_test_predictions))
    # Y_test_predictions = Y_test_predictions.round()
    # Y_test_predictions = [min(5, max(1, x)) for x in Y_test_predictions] 

    print(str(len(Y_test)) + ' ' + str(len(Y_test_predictions)))

    print("RMSE on testing set = ", mean_squared_error(Y_test, Y_test_predictions))

    # prediction['Score'] = ret

    # submission = prediction[['Id', 'Score']]
    # print(Y_test_predictions.head())
    # Y_test_predictions.to_csv("./data/y_test_submission.csv", index=False)

    # Plot a confusion matrix
    # cm = confusion_matrix(Y_test, Y_test_predictions, normalize='true')
    # sns.heatmap(cm, annot=True)
    # plt.title('Confusion matrix of the classifier')
    # plt.xlabel('Predicted')
    # plt.ylabel('True')
    # plt.show()

    return model

model = get_model(df)

printing the infos
<class 'pandas.core.frame.DataFrame'>
Int64Index: 975 entries, 1268 to 684
Data columns (total 60 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   svd0    975 non-null    float64
 1   svd1    975 non-null    float64
 2   svd2    975 non-null    float64
 3   svd3    975 non-null    float64
 4   svd4    975 non-null    float64
 5   svd5    975 non-null    float64
 6   svd6    975 non-null    float64
 7   svd7    975 non-null    float64
 8   svd8    975 non-null    float64
 9   svd9    975 non-null    float64
 10  svd10   975 non-null    float64
 11  svd11   975 non-null    float64
 12  svd12   975 non-null    float64
 13  svd13   975 non-null    float64
 14  svd14   975 non-null    float64
 15  svd15   975 non-null    float64
 16  svd16   975 non-null    float64
 17  svd17   975 non-null    float64
 18  svd18   975 non-null    float64
 19  svd19   975 non-null    float64
 20  svd20   975 non-null    float64
 21  svd21   975 non-null    float64
 22  svd22   975 non-null    float64
 23  svd23   975 non-null    float64
 24  svd24   975 non-null    float64
 25  svd25   975 non-null    float64
 26  svd26   975 non-null    float64
 27  svd27   975 non-null    float64
 28  svd28   975 non-null    float64
 29  svd29   975 non-null    float64
 30  svd30   975 non-null    float64
 31  svd31   975 non-null    float64
 32  svd32   975 non-null    float64
 33  svd33   975 non-null    float64
 34  svd34   975 non-null    float64
 35  svd35   975 non-null    float64
 36  svd36   975 non-null    float64
 37  svd37   975 non-null    float64
 38  svd38   975 non-null    float64
 39  svd39   975 non-null    float64
 40  svd40   975 non-null    float64
 41  svd41   975 non-null    float64
 42  svd42   975 non-null    float64
 43  svd43   975 non-null    float64
 44  svd44   975 non-null    float64
 45  svd45   975 non-null    float64
 46  svd46   975 non-null    float64
 47  svd47   975 non-null    float64
 48  svd48   975 non-null    float64
 49  svd49   975 non-null    float64
 50  svd50   975 non-null    float64
 51  svd51   975 non-null    float64
 52  svd52   975 non-null    float64
 53  svd53   975 non-null    float64
 54  svd54   975 non-null    float64
 55  svd55   975 non-null    float64
 56  svd56   975 non-null    float64
 57  svd57   975 non-null    float64
 58  svd58   975 non-null    float64
 59  svd59   975 non-null    float64
dtypes: float64(60)
memory usage: 464.6 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 325 entries, 579 to 82
Data columns (total 60 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   svd0    325 non-null    float64
 1   svd1    325 non-null    float64
 2   svd2    325 non-null    float64
 3   svd3    325 non-null    float64
 4   svd4    325 non-null    float64
 5   svd5    325 non-null    float64
 6   svd6    325 non-null    float64
 7   svd7    325 non-null    float64
 8   svd8    325 non-null    float64
 9   svd9    325 non-null    float64
 10  svd10   325 non-null    float64
 11  svd11   325 non-null    float64
 12  svd12   325 non-null    float64
 13  svd13   325 non-null    float64
 14  svd14   325 non-null    float64
 15  svd15   325 non-null    float64
 16  svd16   325 non-null    float64
 17  svd17   325 non-null    float64
 18  svd18   325 non-null    float64
 19  svd19   325 non-null    float64
 20  svd20   325 non-null    float64
 21  svd21   325 non-null    float64
 22  svd22   325 non-null    float64
 23  svd23   325 non-null    float64
 24  svd24   325 non-null    float64
 25  svd25   325 non-null    float64
 26  svd26   325 non-null    float64
 27  svd27   325 non-null    float64
 28  svd28   325 non-null    float64
 29  svd29   325 non-null    float64
 30  svd30   325 non-null    float64
 31  svd31   325 non-null    float64
 32  svd32   325 non-null    float64
 33  svd33   325 non-null    float64
 34  svd34   325 non-null    float64
 35  svd35   325 non-null    float64
 36  svd36   325 non-null    float64
 37  svd37   325 non-null    float64
 38  svd38   325 non-null    float64
 39  svd39   325 non-null    float64
 40  svd40   325 non-null    float64
 41  svd41   325 non-null    float64
 42  svd42   325 non-null    float64
 43  svd43   325 non-null    float64
 44  svd44   325 non-null    float64
 45  svd45   325 non-null    float64
 46  svd46   325 non-null    float64
 47  svd47   325 non-null    float64
 48  svd48   325 non-null    float64
 49  svd49   325 non-null    float64
 50  svd50   325 non-null    float64
 51  svd51   325 non-null    float64
 52  svd52   325 non-null    float64
 53  svd53   325 non-null    float64
 54  svd54   325 non-null    float64
 55  svd55   325 non-null    float64
 56  svd56   325 non-null    float64
 57  svd57   325 non-null    float64
 58  svd58   325 non-null    float64
 59  svd59   325 non-null    float64
dtypes: float64(60)
memory usage: 154.9 KB
None
(975, 60) (975,)
(325, 60) (325,)
got the predictions
325
325 325
RMSE on testing set =  0.253420833544014

In [77]:
tweets = pd.read_csv("Tweet.csv")

tweets = tweets.rename(columns={'body': 'text'})
tweets.drop(columns=['writer', 'comment_num','retweet_num','like_num'])

tweets['text'] = tweets['text'].apply(lambda x : '' if not (type(x) == type('a')) else x)

tweets = process(tweets)

tweets.to_csv("tweets_processed.csv", index=False)

tweets.info()

stemmed
here
this done
shape
(3717964, 60)

In [20]:
import pandas as pd
from datetime import datetime
tweets = pd.read_csv('tweets_processed.csv')

tweets['date'] = tweets['post_date'].apply(lambda x : str(datetime.fromtimestamp(x)))

print(tweets.info())


date = tweets.date.str.split(expand=True)
tweets["DATE"] = date[0]
tweets.sort_values(by=['DATE'])
tweets = tweets[tweets.DATE != 'date']
tweets = tweets[tweets.DATE != '=======']


tweets_dropped = tweets.drop(columns=['date', 'tweet_id', 'writer', 'post_date', 'comment_num', 'retweet_num', 'like_num', 'text', 'DATE'], inplace=False)
#     X_test_processed = X_test.drop(columns=['id', 'created_at', 'text'])
predictions = model.predict(tweets_dropped)

tweets['sent'] = predictions

tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3530306 entries, 0 to 3530305
Data columns (total 68 columns):
 #   Column       Dtype
---  ------       -----
 0   tweet_id     int64
 1   writer       object
 2   post_date    int64
 3   text         object
 4   comment_num  int64
 5   retweet_num  int64
 6   like_num     int64
 7   svd0         float64
 8   svd1         float64
 9   svd2         float64
 10  svd3         float64
 11  svd4         float64
 12  svd5         float64
 13  svd6         float64
 14  svd7         float64
 15  svd8         float64
 16  svd9         float64
 17  svd10        float64
 18  svd11        float64
 19  svd12        float64
 20  svd13        float64
 21  svd14        float64
 22  svd15        float64
 23  svd16        float64
 24  svd17        float64
 25  svd18        float64
 26  svd19        float64
 27  svd20        float64
 28  svd21        float64
 29  svd22        float64
 30  svd23        float64
 31  svd24        float64
 32  svd25        float64
 33  svd26        float64
 34  svd27        float64
 35  svd28        float64
 36  svd29        float64
 37  svd30        float64
 38  svd31        float64
 39  svd32        float64
 40  svd33        float64
 41  svd34        float64
 42  svd35        float64
 43  svd36        float64
 44  svd37        float64
 45  svd38        float64
 46  svd39        float64
 47  svd40        float64
 48  svd41        float64
 49  svd42        float64
 50  svd43        float64
 51  svd44        float64
 52  svd45        float64
 53  svd46        float64
 54  svd47        float64
 55  svd48        float64
 56  svd49        float64
 57  svd50        float64
 58  svd51        float64
 59  svd52        float64
 60  svd53        float64
 61  svd54        float64
 62  svd55        float64
 63  svd56        float64
 64  svd57        float64
 65  svd58        float64
 66  svd59        float64
 67  date         object
dtypes: float64(60), int64(5), object(3)
memory usage: 1.8+ GB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3530306 entries, 0 to 3530305
Data columns (total 70 columns):
 #   Column       Dtype
---  ------       -----
 0   tweet_id     int64
 1   writer       object
 2   post_date    int64
 3   text         object
 4   comment_num  int64
 5   retweet_num  int64
 6   like_num     int64
 7   svd0         float64
 8   svd1         float64
 9   svd2         float64
 10  svd3         float64
 11  svd4         float64
 12  svd5         float64
 13  svd6         float64
 14  svd7         float64
 15  svd8         float64
 16  svd9         float64
 17  svd10        float64
 18  svd11        float64
 19  svd12        float64
 20  svd13        float64
 21  svd14        float64
 22  svd15        float64
 23  svd16        float64
 24  svd17        float64
 25  svd18        float64
 26  svd19        float64
 27  svd20        float64
 28  svd21        float64
 29  svd22        float64
 30  svd23        float64
 31  svd24        float64
 32  svd25        float64
 33  svd26        float64
 34  svd27        float64
 35  svd28        float64
 36  svd29        float64
 37  svd30        float64
 38  svd31        float64
 39  svd32        float64
 40  svd33        float64
 41  svd34        float64
 42  svd35        float64
 43  svd36        float64
 44  svd37        float64
 45  svd38        float64
 46  svd39        float64
 47  svd40        float64
 48  svd41        float64
 49  svd42        float64
 50  svd43        float64
 51  svd44        float64
 52  svd45        float64
 53  svd46        float64
 54  svd47        float64
 55  svd48        float64
 56  svd49        float64
 57  svd50        float64
 58  svd51        float64
 59  svd52        float64
 60  svd53        float64
 61  svd54        float64
 62  svd55        float64
 63  svd56        float64
 64  svd57        float64
 65  svd58        float64
 66  svd59        float64
 67  date         object
 68  DATE         object
 69  sent         float32
dtypes: float32(1), float64(60), int64(5), object(4)
memory usage: 1.9+ GB

In [25]:
stock_data = pd.read_csv("AAPL.csv")

# limit tweets to tweets with over 10 likes

tweets = tweets[tweets.apply(lambda x : int(x['like_num']) > 500 and int(x['comment_num']) > 5, axis=1)]


grouped_df = tweets.groupby(by = ["DATE"])
sentiment = []
date=[]
for name,group in grouped_df:
    date.append(name)
    sentiment.append(group.sent.mean())
stock_df = pd.DataFrame({"Date": date, "Mean_Sentiment": sentiment})

# stock_df['Mean_Sentiment'] = stock_df['Mean_Sentiment'].apply(lambda x  : print(x) if x < 0 else x)
stock_df

           Date  Mean_Sentiment
0    2015-01-27        0.146988
1    2015-03-09        0.467021
2    2015-04-28        0.236669
3    2015-06-24        0.790913
4    2016-01-26        0.562061
..          ...             ...
211  2019-09-15        0.237849
212  2019-09-16        0.450124
213  2019-09-17        0.509969
214  2019-09-18        0.478774
215  2019-09-20        0.578426

[216 rows x 2 columns]

In [22]:
stock_data["increased"] = np.where(stock_data["Close"]>stock_data["Open"], 1, 0)
stock_data["change_value"] = stock_data["Close"]-stock_data["Open"]
# stock_data['Date'] = stock_data['date']

# print(stock_data)
# print(stock_df)

x = pd.merge(stock_data, stock_df, on="Date")
# print(x)
# x['Mean_Sentiment'] = x.Mean_Sentiment.shift(-1, fill_value=0)
# x = x[x.apply(lambda x : int(x['Date'][:4]) > 2017, axis=1)]
x = x.drop(columns=['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])
print(x)
print(x.corr())

from scipy.stats import pearsonr

# print(x["change_value"].corr(x["Mean_Sentiment"]))
# print(x["increased"].corr(x["Mean_Sentiment"]))
# print(pearsonr(x["change_value"],x["Mean_Sentiment"]))

           Date  increased  change_value  Mean_Sentiment
0    2014-12-31          0     -0.610001        0.412905
1    2015-01-05          0     -0.510000        1.224695
2    2015-01-08          1      0.664999        0.594274
3    2015-01-09          0     -0.164999        0.606336
4    2015-01-14          1      0.190001        0.587961
..          ...        ...           ...             ...
985  2019-09-16          1      0.542499        0.470423
986  2019-09-17          1      0.184997        0.465139
987  2019-09-18          1      0.427502        0.439712
988  2019-09-19          0     -0.262497        0.345741
989  2019-09-20          0     -0.912502        0.418222

[990 rows x 4 columns]
                increased  change_value  Mean_Sentiment
increased        1.000000      0.718894        0.028701
change_value     0.718894      1.000000        0.053212
Mean_Sentiment   0.028701      0.053212        1.000000