### Read csv and preprocess

In [31]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer


tweets = pd.read_csv("tweets.csv")
date = tweets.CREATED.str.split(expand=True)
tweets["DATE"] = date[0]
tweets.drop(columns=['CREATED'])
tweets.sort_values(by=['DATE'])
tweets = tweets[tweets.DATE != 'date']
tweets = tweets[tweets.DATE != '=======']
print(tweets.DATE.min())
print(tweets.DATE.max())


analyzer = SentimentIntensityAnalyzer()
tweets['compound'] = [analyzer.polarity_scores(x)['compound'] for x in tweets['CONTENT']]
tweets['SENTIMENT'] = tweets.compound /tweets.compound.abs().max()
tweets.drop(columns=['compound'])
print(tweets)

2021-10-24
2021-11-17
                          CREATED  FOLLOWERS  LIKES  \
0       2021-11-07 22:35:59+00:00     1211.0    0.0
1       2021-11-05 17:27:38+00:00      141.0    0.0
2       2021-11-12 22:50:13+00:00     7709.0    1.0
3       2021-11-08 09:40:51+00:00     3876.0    0.0
4       2021-10-31 15:47:08+00:00      307.0    0.0
...                           ...        ...    ...
139944  2021-11-05 08:33:14+00:00      164.0    2.0
139945  2021-11-03 00:59:03+00:00     1889.0    0.0
139946  2021-10-27 22:41:26+00:00       39.0    0.0
139947  2021-11-04 11:32:41+00:00      573.0    0.0
139948  2021-10-27 18:43:54+00:00        1.0    0.0

                                                  CONTENT        DATE  \
0       b'This is how you make wealth $btc $eth $ltc\n...  2021-11-07
1       b'Most Searched Stocks \xf0\x9f\x94\x8e\n\nTic...  2021-11-05
2       b'#WallStreet \xf0\x9f\x87\xba\xf0\x9f\x87\xb8...  2021-11-12
3       b'$NVDA Stock Sentiment vs Comment Volume \n$A...  2021-11-08
4       b'$SPY $QQQ $TLT $TSLA $AAPL Learn to control ...  2021-10-31
...                                                   ...         ...
139944  b'Portfolio switch up:\nCarrying tech stocks a...  2021-11-05
139945  b"Apple joins 'First Movers Coalition' in its ...  2021-11-03
139946  b'"Hey, check out this server of real traders ...  2021-10-27
139947  b'RT @charliebilello: Apple has bought back $4...  2021-11-04
139948  b'Starting with $7k, down to $3k, back up to $...  2021-10-27

        compound  SENTIMENT
0         0.4939   0.509648
1         0.0000   0.000000
2         0.0000   0.000000
3         0.0000   0.000000
4        -0.2732  -0.281911
...          ...        ...
139944    0.0000   0.000000
139945    0.0000   0.000000
139946    0.2960   0.305438
139947    0.3612   0.372717
139948    0.4404   0.454442

[139947 rows x 7 columns]

### Read Apple stock data

In [29]:
stock_data = pd.read_csv("AAPL.csv")
print(stock_data)

          Date        Open        High         Low       Close   Adj Close  \
0   2021-10-25  148.679993  149.369995  147.619995  148.639999  148.423386
1   2021-10-26  149.330002  150.839996  149.009995  149.320007  149.102402
2   2021-10-27  149.360001  149.729996  148.490005  148.850006  148.633087
3   2021-10-28  149.820007  153.169998  149.720001  152.570007  152.347656
4   2021-10-29  147.220001  149.940002  146.410004  149.800003  149.581696
5   2021-11-01  148.990005  149.699997  147.800003  148.960007  148.742920
6   2021-11-02  148.660004  151.570007  148.649994  150.020004  149.801376
7   2021-11-03  150.389999  151.970001  149.820007  151.490005  151.269241
8   2021-11-04  151.580002  152.429993  150.639999  150.960007  150.740005
9   2021-11-05  151.889999  152.199997  150.059998  151.279999  151.279999
10  2021-11-08  151.410004  151.570007  150.160004  150.440002  150.440002
11  2021-11-09  150.199997  151.429993  150.059998  150.809998  150.809998
12  2021-11-10  150.020004  150.130005  147.850006  147.919998  147.919998
13  2021-11-11  148.960007  149.429993  147.679993  147.869995  147.869995
14  2021-11-12  148.429993  150.399994  147.479996  149.990005  149.990005
15  2021-11-15  150.369995  151.880005  149.429993  150.000000  150.000000
16  2021-11-16  149.940002  151.490005  149.339996  151.000000  151.000000
17  2021-11-17  150.994995  154.889999  150.994995  154.850006  154.850006

       Volume
0    50720600
1    60893400
2    56094900
3   100077900
4   124850400
5    74588300
6    69122000
7    54511500
8    60394600
9    65414600
10   55020900
11   56787900
12   65187100
13   41000000
14   63632600
15   59222800
16   59047800
17   40878519

In [37]:
grouped_df = tweets.groupby(by = ["DATE"])
sentiment = []
date=[]
for name,group in grouped_df:
    date.append(name)
    sentiment.append(group.SENTIMENT.mean())
stock_df = pd.DataFrame({"Date": date, "Mean_Sentiment": sentiment})
stock_df

          Date  Mean_Sentiment
0   2021-10-24        0.122492
1   2021-10-25        0.120848
2   2021-10-26        0.122515
3   2021-10-27        0.085742
4   2021-10-28        0.054319
5   2021-10-29        0.096637
6   2021-10-30        0.109161
7   2021-10-31        0.072105
8   2021-11-01        0.111074
9   2021-11-02        0.136572
10  2021-11-03        0.117448
11  2021-11-04        0.129523
12  2021-11-05        0.176698
13  2021-11-06        0.106336
14  2021-11-07        0.171619
15  2021-11-08        0.105868
16  2021-11-12        0.114229
17  2021-11-13        0.118057
18  2021-11-14        0.157580
19  2021-11-15        0.091963
20  2021-11-16        0.130127
21  2021-11-17        0.071652

In [39]:
import numpy as np
stock_data["increased"] = np.where(stock_data["Close"]>stock_data["Open"], 1, 0)
stock_data["change_value"] = stock_data["Close"]-stock_data["Open"]

          Date        Open        High         Low       Close   Adj Close  \
0   2021-10-25  148.679993  149.369995  147.619995  148.639999  148.423386
1   2021-10-26  149.330002  150.839996  149.009995  149.320007  149.102402
2   2021-10-27  149.360001  149.729996  148.490005  148.850006  148.633087
3   2021-10-28  149.820007  153.169998  149.720001  152.570007  152.347656
4   2021-10-29  147.220001  149.940002  146.410004  149.800003  149.581696
5   2021-11-01  148.990005  149.699997  147.800003  148.960007  148.742920
6   2021-11-02  148.660004  151.570007  148.649994  150.020004  149.801376
7   2021-11-03  150.389999  151.970001  149.820007  151.490005  151.269241
8   2021-11-04  151.580002  152.429993  150.639999  150.960007  150.740005
9   2021-11-05  151.889999  152.199997  150.059998  151.279999  151.279999
10  2021-11-08  151.410004  151.570007  150.160004  150.440002  150.440002
11  2021-11-09  150.199997  151.429993  150.059998  150.809998  150.809998
12  2021-11-10  150.020004  150.130005  147.850006  147.919998  147.919998
13  2021-11-11  148.960007  149.429993  147.679993  147.869995  147.869995
14  2021-11-12  148.429993  150.399994  147.479996  149.990005  149.990005
15  2021-11-15  150.369995  151.880005  149.429993  150.000000  150.000000
16  2021-11-16  149.940002  151.490005  149.339996  151.000000  151.000000
17  2021-11-17  150.994995  154.889999  150.994995  154.850006  154.850006

       Volume  increased  change_value
0    50720600          0     -0.039994
1    60893400          0     -0.009995
2    56094900          0     -0.509995
3   100077900          1      2.750000
4   124850400          1      2.580002
5    74588300          0     -0.029998
6    69122000          1      1.360000
7    54511500          1      1.100006
8    60394600          0     -0.619995
9    65414600          0     -0.610000
10   55020900          0     -0.970002
11   56787900          1      0.610001
12   65187100          0     -2.100006
13   41000000          0     -1.090012
14   63632600          1      1.560012
15   59222800          0     -0.369995
16   59047800          1      1.059998
17   40878519          1      3.855011

In [40]:
x = pd.merge(stock_data, stock_df, on="Date")
x

,Date,Open,High,Low,Close,Adj Close,Volume,increased,change_value,Mean_Sentiment
0,2021-10-25,148.679993,149.369995,147.619995,148.639999,148.423386,50720600,0,-0.039994,0.120848
1,2021-10-26,149.330002,150.839996,149.009995,149.320007,149.102402,60893400,0,-0.009995,0.122515
2,2021-10-27,149.360001,149.729996,148.490005,148.850006,148.633087,56094900,0,-0.509995,0.085742
3,2021-10-28,149.820007,153.169998,149.720001,152.570007,152.347656,100077900,1,2.750000,0.054319
4,2021-10-29,147.220001,149.940002,146.410004,149.800003,149.581696,124850400,1,2.580002,0.096637
5,2021-11-01,148.990005,149.699997,147.800003,148.960007,148.742920,74588300,0,-0.029998,0.111074
6,2021-11-02,148.660004,151.570007,148.649994,150.020004,149.801376,69122000,1,1.360000,0.136572
7,2021-11-03,150.389999,151.970001,149.820007,151.490005,151.269241,54511500,1,1.100006,0.117448
8,2021-11-04,151.580002,152.429993,150.639999,150.960007,150.740005,60394600,0,-0.619995,0.129523
9,2021-11-05,151.889999,152.199997,150.059998,151.279999,151.279999,65414600,0,-0.610000,0.176698
10,2021-11-08,151.410004,151.570007,150.160004,150.440002,150.440002,55020900,0,-0.970002,0.105868
11,2021-11-12,148.429993,150.399994,147.479996,149.990005,149.990005,63632600,1,1.560012,0.114229
12,2021-11-15,150.369995,151.880005,149.429993,150.000000,150.000000,59222800,0,-0.369995,0.091963
13,2021-11-16,149.940002,151.490005,149.339996,151.000000,151.000000,59047800,1,1.059998,0.130127
14,2021-11-17,150.994995,154.889999,150.994995,154.850006,154.850006,40878519,1,3.855011,0.071652

In [42]:
print(x["change_value"].corr(x["Mean_Sentiment"]))
print(x["increased"].corr(x["Mean_Sentiment"]))

-0.5125617856882027
-0.2656272246299113