In [90]:
import pandas as pd

# Read In Data
##### Look up and download data here:
https://www.kaggle.com/omermetinn/tweets-about-the-top-companies-from-2015-to-2020?select=Company_Tweet.csv

In [91]:
IDs = pd.read_csv("kaggle data/Company_Tweet.csv")
tweets=pd.read_csv("kaggle data/Tweet.csv")

# Make Apple Dataframe

In [92]:
AppleOnly=tweets.copy()

In [93]:
# Graph both dataframes

#IDs.head()
tweets.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [94]:
condition = IDs["ticker_symbol"] == "AAPL"
HasApple=IDs.tweet_id[condition]
test=set(HasApple)

In [95]:
ours.drop(ours[~ours["tweet_id"].isin(test)].index, inplace=True)

In [96]:
#ours = ours.reset_index(drop=True)
ours.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
3,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
4,550443809700851716,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

## Made a backup in case we change anything

In [97]:
goodOne=ours.copy()

In [98]:
goodOne["body"][532580]

'#Apple Alleged iPhone 7 cases identical to those for iPhone 6, 6S - CNET. Read more: http://owler.us/aaOGWS $AAPL'